<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
    <class name="ЦветнойВыводЛогаКонсоль" file="src/Классы/ЦветнойВыводЛогаКонсоль.os"/>
    <class name="УлучшенныйФорматЛога" file="src/Классы/УлучшенныйФорматЛога.os"/>
    <class name="JSONФорматЛога" file="src/Классы/JSONФорматЛога.os"/>
    <class name="РасширенноеСобытиеЛога" file="src/Классы/РасширенноеСобытиеЛога.os"/>
</package-def>